
.searchItem{
   
    margin-left: 76px;
}
.inputWrapper{
    display: flex;
    align-items: center;
}
.button{
    margin-left: 18px;
    background: none;
    border: 0;
}
.inputSearch{

    min-width: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 30px;
    border: none;
    background: #F2F2F2;
    outline: none;
    margin-bottom: 20px;
    
}
.inputBlock {
    position: relative;
}
.inputBlock::after {
    content: '';
    display: block;
   background: url("../../assets/inputSearch.png");
   background-position: center;
   background-repeat: no-repeat;
   width: 10px;
   height: 10px;
   position: absolute;
   z-index: 1000;
   top: 12px;
   left: 10px;
}

@media screen and (max-width:1420px) {
    .searchItem{
        margin-left: 30px;
    }
}

@media screen and (max-width:1320px) {
    .inputWrapper{
        flex-direction: column;
    }
    .searchItem{
        margin-left: 0px;
    }
   .buttons{
    margin-right: 18px;
   }
}

@media screen and (max-width:490px) {
    .inputSearch{
        min-width: 360px;
        width: 360px;
    }
}

@media screen and (max-width:425px) {
    .inputSearch{
        min-width: 320px;
        width: 320px;
    }
}
@media screen and (max-width:370px) {
    .inputSearch{
        min-width: 250px;
        width: 250px;
    }
}