
.BlockTitle{
    margin-top: 160px;
    background-color:#0288C7 ;
    padding: 25px;
}
.telegramTitle{
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:900px) {
    .BlockTitle{
        margin-top: 50px;
    }
}
@media screen and (max-width:720px) {
    
    .telegramTitle{
        font-size: 20px;
    }
    
 }

 @media screen and (max-width:490px) {
    .telegramTitle {
        font-size: 15px;
    }
    
}
@media screen and (max-width:400px) {
    .telegramTitle {
        font-size: 11px;
    }
    
}