
.BlockTitle{
    margin-top: 160px;
    background-color:#0288C7 ;
    padding: 25px;
}
.telegramTitle{
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}