.gameItemTranslate{ 
    background-color: #F4F4F4;
    h1{
        color: rgb(0, 0, 0);
    }
}

.gameItem{
    background-color: #2815FF;
    h1{   
        color: rgb(255, 255, 255);
    }
}

.gameItemButton{
    margin-right: 42px;
    margin-bottom: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content:center ;
    align-items: center;
    h1{
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        font-family: 'Roboto';
    }
}