.authButtons{
    margin-left: 200px;
}


.buttonLogin{
    max-width: 101px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    padding: 5px 20px;
    color: white;
    background: #D9D9D9;
    border: none;
    border-radius: 5px;
}
.buttonRegister{
   
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    padding: 5px 20px;
    color: black;
    background: #EBE442;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}

@media screen and (max-width:1420px) {
    .authButtons{
        margin-left: 100px;
    }
}
@media screen and (max-width:1420px) {
    .authButtons{
        margin-left: 45px;
    }
}
@media screen and (max-width:375px) {
    .authButtons{
       margin-left: 0;
       display: flex;
    }
}
