.resultBlock{
    max-width: 470px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
}

.resultTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    h1{
      font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;  
    }
    
}
.answers{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.procent{
    padding: 57px;
    border-radius: 50%;
    font-size:30px;
    font-family: 'Roboto';
    font-weight: 500;
    border:3px solid #00AF1C;
}
.answer{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    width: 190px;
}
.answerBlock{
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    span{
        border-radius: 20px;
       }
}
.negativeAnswer{
    
    color: #D66262;
    
    span{
    
        font-family: 'Roboto';
        font-weight: 700;
        color: white;
        font-size: 14px;
        background:#F00000;
        padding: 2px 11px;
        
    }
}
.rightAnswer{
    
    color: #00AF1C;
    span{
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 700;
        color: white;
       
        background:#00AF1C;
        padding: 2px 11px;
    }
}


@media screen and (max-width:560px) {
    .resultTitle{
        margin-bottom: 15px;
        h1{
        
        font-size: 24px;
        }
        
    }

    .procent{
        padding: 40px;
        font-size:20px;
    }

    .answersWrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .answers{
        width: 80%;
    }
}


@media screen and (max-width:425px) {
    .resultBlock{
        margin-top: 10px;
    }
    .resultTitle{
        margin-bottom: 15px;
        h1{
        
        font-size: 22px;
        }
        
    }

    .procent{
        padding: 30px;
        font-size:18px;
    }

    .answersWrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .answers{
        width: 290px;
    }

    .rightAnswer{
    font-size: 17px;
    width: 150px;
        span{
            font-size: 10px;
            background: #00AF1C;
            padding: 2px 9px;
            display: flex;
            align-items: center;
        }
    }
    .negativeAnswer{
        width: 150px;
        font-size: 17px;
        span{
            font-size: 10px;
            background:#F00000;
            padding: 2px 9px;
            display: flex;
            align-items: center;
        }
    }
}



@media screen and (max-width:350px) {
    .procent{
        padding: 16px;
        font-size:14px;
        
    }

    .answers{
        width: 210px;
    }

    .rightAnswer{
    font-size: 14px;
    width: 130px;
        span{
            font-size: 10px;
            background: #00AF1C;
            padding: 2px 9px;
            display: flex;
            align-items: center;
        }
    }
    .negativeAnswer{
        width: 130px;
        font-size: 14px;
        span{
            font-size: 10px;
            background:#F00000;
            padding: 2px 9px;
            display: flex;
            align-items: center;
        }
    }
}