.advantagesBlock{

    width: 100%;
    display: flex;
    justify-content: center;
    

}




.advantagesTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
h1{
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

}